apiVersion: v1
kind: Service
metadata:
  name: {{ include "spotalis.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "spotalis.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "spotalis.selectorLabels" . | nindent 4 }}
  ports:
  - name: metrics
    port: {{ .Values.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
  - name: health
    port: {{ .Values.service.healthPort }}
    targetPort: health
    protocol: TCP
  {{- if .Values.webhook.enabled }}
  - name: webhook
    port: {{ .Values.service.webhookPort }}
    targetPort: webhook
    protocol: TCP
  {{- end }}
